﻿ @Model Employee

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">
        building Web apps with ASP.NET Core</a>
        </p>

        <table>
            <tr>
<td>
 @Model.Id
</td>
<td>
    @Model.Name
    <td>

@Model.Address
</td>
</td>


            </tr>



        </table>

</div>
