﻿@model IEnumerable<AssetManagementSystem.Models.Book>

@{
    ViewBag.Title = "Book details";
}

<h2>Index</h2>

<button style="display:flex;justify-content:end">
    @Html.ActionLink("Create New", "Create")
</button>

<table class="table" style="
    margin-top: 5rem;
">
    <tr style="
    background-color: darkgray;
">
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">No data available</td>
        </tr>
    }
    else
    {


        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<p>
    @using (Html.BeginForm("search", "Book", FormMethod.Get))
    {
        <b>Search By : </b>
        @Html.RadioButton("SearchBy", "Name", true) <text> Name </text>
        @Html.RadioButton("SearchBy", "Author") <text> Author <br /> </text>
        @Html.TextBox("Search")<input type="Submit" value="Search" /> <br />
    }
</p>
