﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I have made MVC project using database. I have followed First Database concept in my project. I have done various operations in my project like : <br>
    1.) Display all the assets <br>
    2.) Add a new asset <br>
    3.) Search an asset <br>
    4.) Delete an asset <br>
    5.) Edit an existing asset <br>
</p>
