﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASSET MANAGEMENT SYSTEM </h1>
    <p class="lead"></p>
</div>

<div class="row">
    <h2>Routes :</h2>
    <ul class=" mx-md-n5">
        <button>@Html.ActionLink("Bookss", "Index", "Book")</button>
        <button>@Html.ActionLink("Softwares", "Index", "Software")</button>
        <button>@Html.ActionLink("Hardwares", "Index", "Hardware")</button>
        @*<button>@Html.ActionLink("All list", "Index", "AllData")</button>*@
    </ul>
    <div>


        <h2>What is Asset Management System?</h2>
        <p>
            An asset management system is a process used by companies and organizations to monitor and manage their
            assets. It consists of tools, techniques, and, sometimes, software that assist in achieving asset
            management policies and objectives.
        </p>
        <img src="https://kissflow.com/wp-content/uploads/2019/08/asset-management.png" style="
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 31rem;
    margin-left: 33rem;
">
    </div>
</div>