﻿@model IEnumerable<DataAccessLayer.Book>

@{
    ViewBag.Title = "Index";
}

<h2 >Book-Details</h2>

<p>
    <button>
        @Html.ActionLink("Add-Book", "Create")
    </button>
</p>
<div style="
 
    padding: 5rem;
    margin-bottom: 5rem;
">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <button class="btn btn-secondary">
                        @Html.ActionLink("Edit", "Edit", new { id = item.SerialNo })
                    </button>
                    <button class="btn btn-success">
                        @Html.ActionLink("Details", "Details", new { id = item.SerialNo })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id = item.SerialNo })
                    </button>
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @using (Html.BeginForm("Search", "Book", FormMethod.Get))
            {
                <b>Search By : </b>
                @Html.RadioButton("SearchBy", "BookName", true) <text>BookName </text>
                @Html.RadioButton("SearchBy", "AuthorName")<text>AuthorName </text>
                <br />
                @Html.TextBox("Search")<input type="Submit" value="Search" /> <br />
            }

        </p>
    </div>

    <button class="btn btn-secondary">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>
