﻿@model AssetManagementSystem.Models.Software

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Software_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Software_Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software_Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Publish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Publish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Software_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
