﻿@model IEnumerable<AssetManagementSystem.Models.Software>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button style="display:flex;justify-content:end">
    @Html.ActionLink("Create New", "Create")
</button>
<table class="table" style="
    margin-top: 5rem;
">
    <tr style="
    background-color: darkgray;
">
        <th>
            @Html.DisplayNameFor(model => model.Software_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software_Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Publish)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Software_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_Publish)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Software_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Software_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Software_Id })
            </td>
        </tr>
    }

</table>


<p>
    @using (Html.BeginForm("search", "Software", FormMethod.Get))
    {
        <b>Search By : </b>
        @Html.RadioButton("SearchBy", "Software_Name", true) <text> Name </text>
        @Html.RadioButton("SearchBy", "Author") <text> Author <br /> </text>
        @Html.TextBox("Search")<input type="Submit" value="Search" /> <br />
    }
</p>
