﻿@*@model IEnumerable<AssetManagementSystem.Models.Book>


    @foreach (var item in Model) { 

<tr>
    <td>
        @item.Model_no
    </td>
    <td>
        @item.Date_of_publish
    </td>
    <td>
        @item.Price
    </td>
</tr>*@

 

   
    
    
    <!--@model IEnumerable<AssetManagementSystem.Models.Hardware>


    @{
        ViewBag.Title = "Index";

    }

    <h2>All the lists are </h2>

    <h4>Books</h4>
    <hr />
    <h4>sOFTWARES</h4>
    <hr />
    <h4>hardwares</h4>


    <table class="table">
        <tr>-->
            @*<th>
                        @Html.DisplayNameFor(model => model.Hardware_type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date_of_publish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>*@

            <!--@foreach (var item in ViewBag.allHardwares)
            {
            <tr>
                <td>
                    @item.Hardware_type
                </td>
                <td>
                    @item.Date_of_publish
            </td>
            <td>
                @item.Price
            </td>

        </tr>
    }


        </table>

        <table class="table">
            <tr>-->
                @*<th>
                            @Html.DisplayNameFor(model => model.Hardware_type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_of_publish)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>*@


                <!--@foreach (var item in ViewBag.allSoftwares)
                {
                <tr>
                    <td>
                        @item.Software_Name
                    </td>
                    <td>
                        @item.Software_Author
                    </td>
                    <td>
                        @item.Date_Of_Publish
                    </td>

                </tr>
            }

            </table>-->




