﻿@model IEnumerable<DataAccessLayer.Hardware>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HardwareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HardwareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaunchDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerialNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerialNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerialNo })
        </td>
    </tr>
}

</table>
