﻿@model AssetManagementSystem.Models.Hardware

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hardware</h4>
    <hr />

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Hardware_type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hardware_type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_of_publish)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_of_publish)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Model_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
