﻿@model IEnumerable<AssetManagementSystem.Models.Hardware>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button style="display:flex;justify-content:end">
    @Html.ActionLink("Create New", "Create")
</button>
<table class="table" style="
    margin-top: 5rem;
">
    <tr style="
    background-color: darkgray;
">
        <th>
            @Html.DisplayNameFor(model => model.Model_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hardware_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_publish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hardware_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_publish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Model_no }) |
                @Html.ActionLink("Details", "Details", new { id = item.Model_no }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Model_no })
            </td>
        </tr>
    }

</table>



<p>
    @using (Html.BeginForm("search", "Hardware", FormMethod.Get))
    {
        <b>Search By : </b>
        @Html.RadioButton("SearchBy", "Hardware_type", true) <text> Type </text>
      
        @Html.TextBox("Search")<input type="Submit" value="Search" /> <br />
    }
</p>
